<!-- Body -->
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a [routerLink]="['/']" class="text-decoration-none">
                    <i class="bi bi-house"></i>
                    Trang chủ
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Tin tức- Sự kiện</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-9">
            <div class="fs-4 text-uppercase">Tin Tức - Sự Kiện</div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/img/product/chauau.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Du lịch Hồng Kông</h5>
                            <p class="card-text">Hồng Kông (Hong Kong) không nổi tiếng bởi phong cảnh thiên nhiên
                                hùng vĩ nhưng du khách đến đây cứ bị mê hoặc hết lần này đến lần khác</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/img/product/nhatban.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">CHƯƠNG TRÌNH ĐÀO TẠO HƯỚNG DẪN VIÊN UNIQUE - Teambuilding - Event
                                - Travel - 27,28/5</h5>
                            <p class="card-text">Trong 2 ngày 27/5 - 28/5, tại UNIQUE - Teambuilding - Event -
                                Travel đã diễn ra sự kiện quan trọng: Đào tạo hướng dẫn viên và ekip làm việc tại
                                công ty. Khóa học được thực hiện bởi Thầy Huỳnh Hữu Tâm - Một chuyên gia hàng đầu về
                                lữ hành, teambuilding, du lịch dã ngoại.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/img/product/dailoan.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">CHƯƠNG TRÌNH ĐÀO TẠO HƯỚNG DẪN VIÊN UNIQUE - Teambuilding - Event
                                - Travel - 27,28/5</h5>
                            <p class="card-text">Trong 2 ngày 27/5 - 28/5, tại UNIQUE - Teambuilding - Event -
                                Travel đã diễn ra sự kiện quan trọng: Đào tạo hướng dẫn viên và ekip làm việc tại
                                công ty. Khóa học được thực hiện bởi Thầy Huỳnh Hữu Tâm - Một chuyên gia hàng đầu về
                                lữ hành, teambuilding, du lịch dã ngoại.</p>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3">
            <div class="text-uppercase fw-bold">Tin Tức đọc nhiều</div>
            <div class="card my-2">
                <img src="assets/img/product-i/du-lich-thai-lan2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-tittle">CHAMPION DASH ĐÃ TỚI HÀ NỘI</p>
                </div>
            </div>
            <div class="card my-2">
                <img src="assets/img/product-i/du-lich-thai-lan2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-tittle">CHAMPION DASH ĐÃ TỚI HÀ NỘI</p>
                </div>
            </div>
            <div class="card my-2">
                <img src="assets/img/product-i/du-lich-thai-lan2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-tittle">CHAMPION DASH ĐÃ TỚI HÀ NỘI</p>
                </div>
            </div>
        </div>
    </div>
</div>