<div class="container mt-4" style="min-height: 670px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-decoration-none" [routerLink]="['/']"><i class="bi bi-house"></i>
                    Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quên mật khẩu</li>
        </ol>
    </nav>
    <h3 class="my-4">Quên mật khẩu</h3>
    <form action="" method="POST" [formGroup]="loginF" class="row my-2" (submit)="onSubmit()">
        <div class="col-md-12 my-3">
            <label for="formGroupExampleInput" class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" id="formGroupExampleInpu" [ngModael]="email"
                placeholder="Nhập email của bạn">
        </div>
        <div class="col-md-6 my-2">
            <button class="btn btn-secondary w-100" type="submit" (click)="forgotPassword" [disabled]="this.loginF.invalid">Gửi link</button>
        </div>
    </form>
</div>